@import url('https://fonts.googleapis.com/css?family=Monoton');


body{
  background-image:url('img/light-bg1.png');
  text-align:center;
 }

.title{
  font-size:5em;
  font-family:'Monoton',cursive;
}

p{
  line-height:1.5;
  font-size: 2em;
}


.start{
  display:block;
  background-color:purple;
  color:white;
  width:5em;
  height:5em;
  margin-left:auto;
  margin-right:auto;
  border-radius:50%;
  line-height:5em;
  text-decoration:none;
  box-shadow: 2px 2px 5px grey;
}

.guess{
  display:block;
  background-color:purple;
  color:white;
  width:5em;
  height:5em;
  margin-top:1em;
  margin-left:auto;
  margin-right:auto;
  border-radius:50%;
  line-height:5em;
  text-decoration:none;
  box-shadow: 2px 2px 5px grey;
}


.start:hover{
  transition:background-color 1s;
  background-color:indigo;
}
